---
import Layout from "layouts/Layout.astro"

export const prerender = true
---

<Layout title="404 | Not found">
  <div class="flex flex-col items-center justify-center">
    <h1 class="text-3xl text-accent-11">404</h1>
    <p class="text-xl">Page not found</p>
  </div>
</Layout>
