---
import { getCollection } from "astro:content"
import PostsList from "@/components/PostsList.astro"
import Tags from "@/components/Tags.astro"
import { getPostsTags } from "@/content/config"
import Layout from "@/layouts/Layout.astro"

export const prerender = true
const posts = await getCollection("posts")
const tags = await getPostsTags()
---

<Layout title="pablopunk's blog" bgGrid page="blog">
  <section class="flex flex-col items-center">
    <h1 class="text-2xl font-bold">Latest blog posts</h1>
    <Tags tags={tags} />
    <PostsList posts={posts} />
  </section>
</Layout>
