---
import { getImageUrl } from "@/lib/imagekit"
import { Image } from "astro:assets"

interface Props {
  w: number
  h?: number
  round?: boolean
  lazy?: boolean
  class?: string
}
const { w, h, round, lazy, class: classString } = Astro.props
const MAX_SIZE = 120
---

<div transition:animate="fade" transition:name="logo">
  <Image
    src={getImageUrl(
      "https://ik.imagekit.io/pablopunk/profile%20square.jpeg?updatedAt=1714767404769",
      // use at least MAX_SIZE image (good for transitions)
      { w: Math.max(w, MAX_SIZE), h: h ? Math.max(h, MAX_SIZE) : undefined }
    )}
    width={w}
    height={h || undefined}
    inferSize
    alt="Pablo Varela"
    class:list={[
      classString,
      {
        "rounded-md": !round,
        "rounded-full border-2 border-accent-11": round,
      },
    ]}
    loading={lazy ? "lazy" : "eager"}
  />
</div>

<style>
  @keyframes pulse {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  .animate-pulse {
    animation-fill-mode: forwards; /* stop animation at 100% */
    animation-iteration-count: 1; /* run animation once */
    animation-duration: 0.1s;
  }
</style>
