@import './radix-colors.css';

:root {
  --transition-time: 0.3s;
  --nav-height: 50px;
  --footer-height: 50px;
}

html {
  box-sizing: border-box;
}

body {
  --color-bg: var(--colors-gray1);
  --color-bg-2: var(--colors-gray3);
  --color-fg: var(--colors-gray12);
  --color-primary-1: var(--colors-teal1);
  --color-primary-2: var(--colors-teal2);
  --color-primary-3: var(--colors-teal3);
  --color-primary-4: var(--colors-teal4);
  --color-primary-5: var(--colors-teal5);
  --color-primary-6: var(--colors-teal6);
  --color-primary-7: var(--colors-teal7);
  --color-primary-8: var(--colors-teal8);
  --color-primary-9: var(--colors-teal9);
  --color-primary-10: var(--colors-teal10);
  --color-primary-11: var(--colors-teal11);
  --color-primary-12: var(--colors-teal12);
  --color-secondary-1: var(--colors-violet1);
  --color-secondary-2: var(--colors-violet2);
  --color-secondary-3: var(--colors-violet3);
  --color-secondary-4: var(--colors-violet4);
  --color-secondary-5: var(--colors-violet5);
  --color-secondary-6: var(--colors-violet6);
  --color-secondary-7: var(--colors-violet7);
  --color-secondary-8: var(--colors-violet8);
  --color-secondary-9: var(--colors-violet9);
  --color-secondary-10: var(--colors-violet10);
  --color-secondary-11: var(--colors-violet11);
  --color-secondary-12: var(--colors-violet12);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body {
  position: relative;
}

*::selection {
  background-color: var(--color-secondary-7);
}

body {
  margin: 0;
  padding: 0;

  background-color: var(--color-bg);
  color: var(--color-fg);
  transition: background-color var(--transition-time),
    color var(--transition-time);
}

svg {
  vertical-align: middle;
}

a {
  color: var(--color-primary-11);
  transition: background-color var(--transition-time),
    color var(--transition-time);
  font-weight: bold;
}

p a:hover {
  color: var(--color-primary-8);
}

article  {
  transition: background-color var(--transition-time),
    color var(--transition-time);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

.fill-height {
  height: 100%;
  min-height: calc(100vh - var(--footer-height) - var(--nav-height));
}

@media (max-width: 640px) {
  .fill-height {
    min-height: calc(100vh - var(--nav-height));
  }
}

section {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
