:root {
  --transition-time: 0.15s;
  --nav-height: 50px;
  --footer-height: 50px;
}

html {
  box-sizing: border-box;
}

body {
  --color-neutral-1: #f8fafc;
  --color-neutral-2: #f1f5f9;
  --color-neutral-3: #e2e8f0;
  --color-neutral-4: #94a3b8;
  --color-neutral-5: #64748b;
  --color-neutral-6: #475569;
  --color-neutral-7: #334155;
  --color-neutral-8: #1e293b;
  --color-neutral-9: #0f172a;
  --color-neutral-10: #000000;
  --color-primary-1: #e6fdfa;
  --color-primary-2: #c3fbf4;
  --color-primary-3: #94f8eb;
  --color-primary-4: #63f4e2;
  --color-primary-5: #34f1d9;
  --color-primary-6: #07eed1;
  --color-primary-7: #06cab2;
  --color-primary-8: #05a994;
  --color-primary-9: #048877;
  --color-primary-10: #036b5e;
  --color-secondary-1: #f3e6fd;
  --color-secondary-2: #e1c2fa;
  --color-secondary-3: #ca91f6;
  --color-secondary-4: #b15ef2;
  --color-secondary-5: #992eee;
  --color-secondary-6: #8300ea;
  --color-secondary-7: #6f00c7;
  --color-secondary-8: #5d00a6;
  --color-secondary-9: #4b0085;
  --color-secondary-10: #3b0069;
}

body.dark {
  --color-neutral-1: #000000;
  --color-neutral-2: #0f172a;
  --color-neutral-3: #1e293b;
  --color-neutral-4: #334155;
  --color-neutral-5: #475569;
  --color-neutral-6: #64748b;
  --color-neutral-7: #94a3b8;
  --color-neutral-8: #e2e8f0;
  --color-neutral-9: #f1f5f9;
  --color-neutral-10: #f8fafc;
  --color-primary-1: #036b5e;
  --color-primary-2: #048877;
  --color-primary-3: #05a994;
  --color-primary-4: #06cab2;
  --color-primary-5: #07eed1;
  --color-primary-6: #34f1d9;
  --color-primary-7: #63f4e2;
  --color-primary-8: #94f8eb;
  --color-primary-9: #c3fbf4;
  --color-primary-10: #e6fdfa;
  --color-secondary-1: #3b0069;
  --color-secondary-2: #4b0085;
  --color-secondary-3: #5d00a6;
  --color-secondary-4: #6f00c7;
  --color-secondary-5: #8300ea;
  --color-secondary-6: #992eee;
  --color-secondary-7: #b15ef2;
  --color-secondary-8: #ca91f6;
  --color-secondary-9: #e1c2fa;
  --color-secondary-10: #f3e6fd;
}

body {
  --font-sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-serif: 'DM Serif Display', serif;
  color: var(--color-neutral-8);
  background-color: var(--color-neutral-1);
}

body {
  margin: 0;
  padding: 0;

  transition: background-color var(--transition-time),
    color var(--transition-time);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body {
  position: relative;
}

*::selection {
  background-color: var(--color-primary-6);
  color: var(--color-primary-1);
}

svg {
  vertical-align: middle;
}

a {
  color: var(--color-primary-11);
  transition: background-color var(--transition-time),
    color var(--transition-time);
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

p a:hover {
  color: var(--color-primary-8);
}

article  {
  transition: background-color var(--transition-time),
    color var(--transition-time);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

.fill-height {
  height: 100%;
  min-height: calc(100vh - var(--footer-height) - var(--nav-height));
}

@media (max-width: 640px) {
  .fill-height {
    min-height: calc(100vh - var(--nav-height));
  }
}

section {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
